@import "tailwindcss";


@theme {
    --color-main: #E50914;
    --color-hover: #B20710;
    --color-dark: #221F1F ;
    --color-light: #F5F5F1;
}


@layer utilities {
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}